<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="../css/styles.css">
    <title>Mobile Test</title>
</head>
<body>
    <div class="container">
        <header class = "row">
        <div class = "col-12"> 
            <h1>Masthead</h1>
        </div>

        
        <nav class = "row">
            <div class = "col-3"><a href="#">Link 1</a></div>
            <div class = "col-3"><a href="#">Link 2</a></div>
            <div class = "col-3"><a href="#">Link 3</a></div>
            <div class = "col-3"><a href="#">Link 4</a></div>
        </nav>
        </header>

        <main class="row">
            <div class="col-6">
                <img src="../images/bigcroc.jpg" alt="Croc">
            </div>
            <div class="col-6">
                <img src="../images/radahnboi.jpeg" alt="hate him">
            </div>
        </main>



        <div class="row">
            <div class="col-4">
                <img src="../images/obama.png" alt="obombda">
            </div>
            <div class="col-4">
                <img src="../images/shuddle.jpg" alt="">
            </div>
            <div class="col-4">
                <img src="../images/bigcroc.jpg" alt="">
            </div>
        </div>


        <div class="row">
            <div class="col-8">
                <img src="../images/radahnboi.jpeg" alt="boi">
            </div>
            <div class="col-4">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus nemo beatae libero ipsam, impedit facere voluptates deserunt harum doloribus reiciendis distinctio, fuga quasi, sunt dolore debitis vel accusantium culpa voluptatem.</p>
                <p>Rerum molestias ad earum nulla a. Dignissimos, exercitationem sequi cumque tempore accusamus consectetur iure, totam distinctio quisquam earum at culpa nam placeat sed rerum animi ab nisi voluptatem enim unde.</p>
                <p>Officia molestiae amet rem deserunt, quibusdam nostrum veniam culpa dolorem beatae cupiditate at velit eligendi aliquam necessitatibus, officiis dicta perferendis accusantium iste odio error unde magnam non? Consequatur, ipsa non!</p>
                <p>Rerum, exercitationem alias commodi provident perspiciatis incidunt corrupti ex at quia beatae dignissimos suscipit illo consequatur ipsum modi enim mollitia sapiente tempora animi sint soluta? Ab totam omnis temporibus sunt!</p>
            </div>
        </div>


</body>
</html>