body{
    background-color: #921036;
}



.container{
    width: 80%;
    border: 4px solid #353e34;
    margin: 10px auto;
    padding: 10px;
    background:rgb(160 226 218);
    border-radius: 10%;
    padding: 40px;
}



h2{
    text-align: center;
    font-family: emoji;
    color: #1d1d16
    
}


dt{
    color: #ca5830;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}

dd{
    color: #1f64a9;
    font-family: 'Courier New', Courier, monospace;
}

ol{
    list-style-type: armenian;
    color: #927149;
}

ul{
    color: #6c18df;
    list-style-type: disclosure-open;
}

ul ul{
    color: green;
    list-style-type:cjk-heavenly-stem;
}




img{
    display: block;
    margin: 30px auto;
    border-radius: 100%;
    height: 600px;
    width: 800px;
}